[2013-01-02 12:08] OptimusMarlboro opened #4 "Can't see any information about the jobs"
I managed to install ResqueBoard. I am able to see the running workers, processed/failed jobs etc but I can't see anything when I click on Logs or Jobs tab, I don't get any log or job.

[2013-01-02 14:05] OptimusMarlboro commented on #4
Got it know, in the installation document you wrote
When starting your workers, set the :

LOGHANDLER to Cube
LOGHANDLER to udp://127.0.0.1:1180 (edit if your Cube server is running on a different host and/or port)

the last line should read

LOGHANDLERTARGET ....

[2013-01-02 14:05] OptimusMarlboro opened #5 "Is it possible to see the pending jobs?"
I couldn't find this anywhere.

[2013-01-02 16:23] wa0x6e commented on #4
Hi,

Thanks for noticing it, I'll correct it as soon as I come back from my trip.

On Wed, Jan 2, 2013 at 11:05 PM, OptimusMarlboro
notifications@github.comwrote:

[2013-01-02 16:24] wa0x6e commented on #5
It's not supported yet.

On Wed, Jan 2, 2013 at 11:05 PM, OptimusMarlboro
notifications@github.comwrote:

[2013-01-21 21:08] wa0x6e commented on #4
Fixed

[2013-01-21 21:08] #4 closed, assigned to wa0x6e

[2013-01-23 18:46] wa0x6e commented on #5
Added in version 1.4.0

[2013-01-23 18:46] #5 closed, assigned to wa0x6e

[2013-03-22 23:33] amanu opened #6 "demo not working :("
demo at http://resque.neetcafe.com/ not working :(.

regards.

[2013-03-24 02:47] wa0x6e commented on #6
In the process of moving to another server

[2013-03-25 22:41] wa0x6e commented on #6
Half working now, still need to fix something to make it works with Nginx

[2013-04-17 16:58] wa0x6e commented on #6
Fixed

[2013-04-17 16:58] #6 closed, assigned to wa0x6e

[2013-05-10 23:34] dietrich-stein opened #8 "Configuration troubles"
First of all, thank you for creating such a beautiful dashboard for php-resque. I look forward to using it as my primary method of monitoring job queues.

However, first I need to finish setting it up--which I believe to be 90% complete. I am missing two things.

1) Getting cube running. When I run the provided commands I am not returned to the shell prompt... I am only able to ^C out. What am I d

[2013-05-11 01:15] wa0x6e commented on #8
1) The node command should run the node in the background. Try to not ^C, but press enter or space to "flush" the terminal.

2) Are you on the latest master ? Because the scheduled and pending fields should not exists.

[2013-05-11 03:35] dietrich-stein commented on #8
Thanks for your prompt reply. Pressing enter was just what I needed... next I will see if I can fashion an init script so that I don't need to start cube manually upon reboot.

I do believe I'm on the lastest master though... here is the line on 5 second timeout:
https://github.com/kamisama/ResqueBoard/blob/master/src/ResqueBoard/webroot/js/app.js#L1534

[2013-05-11 16:03] wa0x6e commented on #8
My bad, I thought you were talking about the queues API, since your subdomain was starting with queues.
Yes, that error will go away once there is data, the next build will not have that issue

[2013-05-12 17:16] wa0x6e commented on #8
I can't reproduce the array_combine error on a clean resqueboard.
Are you connected to Cube, Mongodb and redis correctly ?
What version of PHP are you running on ?

[2013-05-22 20:13] wa0x6e opened #9 "Slow map reduce"
A very slow map reduce query is timing out some pages

[2013-05-29 06:01] wa0x6e opened #10 "Slow job list rendering when using cal-heatmap"
Need investigation, a problem with either cal-heatmap or angularjs itself

[2013-05-30 02:28] teewhey opened #11 "PHP Parse Error ?? T_USE"
I'm seeing this in my apache logs when trying to access to ResqueBoard

PHP Parse error:  syntax error, unexpected T_USE, expecting T_FUNCTION in /var/www/ResqueBoard/src/ResqueBoard/Lib/Service/Mongo.php

Any idea where could have gone wrong??

[2013-05-30 02:40] wa0x6e commented on #11
What's you PHP version ? The lastest master is only compatible with php 5.4, as it's using trait. Next beta (4) will come with php5.3 compatibility

[2013-05-30 03:06] teewhey commented on #11
I see.... My PHP version is 5.3.3-7

PHP 5.3.3-7+squeeze15 with Suhosin-Patch (cli) (built: Mar  4 2013 13:11:17)
Copyright (c) 1997-2009 The PHP Group
Zend Engine v2.3.0, Copyright (c) 1998-2010 Zend Technologies
    with Suhosin v0.9.32.1, Copyright (c) 2007-2010, by SektionEins GmbH

[2013-05-30 03:08] wa0x6e commented on #11
You should use the beta-2, or wait for the next beta, in one week.

[2013-05-30 04:13] teewhey commented on #11
I have managed to get ResqueBoard up and running.
My setup is having fresque running on Server A, and ResqueBoard running on Server B.

On FresqueBoard, I see "A 500 occured while fetching the list of workers" and "A 500 occured while fetching the list of queues".
Any configurations that I might miss out?

[2013-05-30 04:56] wa0x6e commented on #11
The lastest master should be compatible php 5.3 now.

Can you connect to the Redis and Cube server ?
You can check what's wrong by loading the page `/api/workers`, it'll display a more meaningful error message

[2013-05-30 05:03] teewhey commented on #11
On the ResqueBoard, I've installed Cube here....
The redis resides on the other server.

Based on my setup that the ResqueBoard runs on a separate server, what are the stuffs that I have to configure?

Btw. the error that I get on the api/workers page is "Oups ! Something went wrong, Redis server went away"

[2013-05-30 05:09] wa0x6e commented on #11
If cube is installed on the same server as ResqueBoard, it should works by default.
But you must configure ResqueBoard to connect properly to your Redis server.

Assuming your workers are running on another server, Redis must be on that other server too, unless you're on a master/slave setup with a slave on the ResqueBoard server.

Assuming you have a standard redis server (only one master), you s

[2013-05-30 05:11] teewhey commented on #11
Aha ... so that is where I missed out.....
Able to get it running now. Thank you so much.

[2013-05-30 05:12] wa0x6e commented on #11
You're welcome

[2013-05-30 05:12] #11 closed, assigned to wa0x6e

[2013-05-30 05:13] wa0x6e commented on #8
"Should" be gone after the big refactoring of beta-2 and 3

[2013-05-30 05:13] #8 closed, assigned to wa0x6e

[2013-06-13 04:17] teewhey opened #12 "php-resque-ex for Resqueboard Installation"
Hi kamisama,

The ResqueBoard installation notes, the php-resque-ex should be replaced on my php codes or the Fresque directory or on the ResqueBoard server or all of them?

This is my current setup :

Server 1 : Fresque + My Codes
Server 2 : ResqueBoard

[2013-06-13 04:27] wa0x6e commented on #12
Hi,

I don't quite understand your question, but php-resque-ex and fresque is
installed automatically when ResqueBoard is installed via Composer.

If you already have a working code with its own php-resque-ex and fresque,
then leave them as is.

Just make sure that you're using the same version of php-resque-ex and
fresque in your current code.

On Thu, Jun 13, 2013 at 12:17 AM, teewhey notificati

[2013-06-13 04:45] teewhey commented on #12
Let me elaborate one step at the time, hopefully I can convey it correctly....
Let's start with the ResqueBoard server first....

I've installed according to the installation note, however I'm a bit confused on the php-resque-ex portion in the installation note. Where should I be replacing php-resque-ex?

[2013-06-13 05:06] wa0x6e commented on #12
Ok,if you already have php-resque-ex installed in your code, you don't need
to replace it, just skip that step.

This step is for those who have php-resque installed in their application,
which is not compatible with Resqueboard, and should be replaced by
php-resque-ex.

[2013-07-17 13:09] galvani opened #13 "No graphs, no cube data?"
hello,
i did setup everything as described, but i don't get any data from the cube, in mongo there are events present but no metrics generated, though I am not sure it is supposed to.
I don't get any graphs, initial ajax returns, i guess, valid response with 0 values.

What i do see:
workers (processed/failed)
queues

I don't see any jobs

am i doing something wrong?
thx

[2013-07-17 17:23] wa0x6e commented on #13
in the top right corner, there's 3 little circles. What colors are they ? The rightmost circle should be blue on page load, then turn green.

If there is data in mongo, the cube collector should be running. Did you also start the cube evaluator ?

[2013-07-18 07:52] galvani commented on #13
hello, thanks, they are all green. the data is being collected as there are events being logged from cube. there are no metrics produced though. both processes are running with no errors in log file.

[2013-07-19 04:58] wa0x6e commented on #13
Do you see the cube dashboard on localhost:1081 ?
Are you running on the default port and on localhost ?

[2013-07-25 11:11] jstuhli opened #14 "Call to undefined method ResqueBoard\View\MyView::setTemplate()"
After a first, fresh install of ResqueBoard and its dependencies via composer, the following error appears when accessing ResqueBoard/src/ResqueBoard/webroot/:

Fatal error: Call to undefined method ResqueBoard\View\MyView::setTemplate() in /var/www/html/ResqueBoard/src/ResqueBoard/View/MyView.php on line 49

It would appear that slim (2.3.1) no longer has setTemplate() method

[2013-07-25 19:23] #12 closed, assigned to wa0x6e

[2013-07-25 19:34] wa0x6e commented on #14
Fixed in the latest master

[2013-07-25 19:34] #14 closed, assigned to wa0x6e

[2013-07-25 19:34] wa0x6e commented on #13
Any update ?

[2013-07-25 20:06] jstuhli opened #15 "Class 'Redis' not found"
After clean install (git clone + composer install), accessing ResqueBoard/src/ResqueBoard/webroot/ gives this error:

Fatal error: Class 'Redis' not found in /var/www/ResqueBoard/src/ResqueBoard/Lib/Service/Redis.php on line 37

[2013-07-25 20:22] wa0x6e commented on #15
Travis is telling me the same thing.

Do you have the php-redis extension installed ?

[2013-07-25 20:27] jstuhli commented on #15
I do now, and now it works fine :)

[2013-07-25 20:27] #15 closed, assigned to wa0x6e

[2013-07-26 11:17] jstuhli opened #16 "Browser freezes when trying to open ResqueBoard"
After a clean install, when trying to open the ResqueBoard main page, when all of the resources are loaded, the browser freezes, and uses 100% CPU. After a time Chrome asks whether to kill the page.

Tested on: Chrome and Firefox
IE doesn't freeze but it also doesn't load anything (shows empty dashboard without any graphs or loaders).

[2013-07-26 15:23] wa0x6e commented on #16
So you see everything normally, but graph and numbers does not "blink" ?
Did you try opening other page instead ? Pages like /logs/browse, /jobs/view, /jobs/distribution/load doesn't use websocket, and are pretty much static.

Is there activity on the Resque end ?
What's your timezone ? I suspect the freeze to be due to a lot of data incoming via websocket, due to javascript not fetching more data

[2013-07-26 16:13] jstuhli commented on #16
![resque_board](https://f.cloud.github.com/assets/1474280/863419/22630cbc-f609-11e2-907d-822d41e65afe.png)

I've attached a screenshot, the 3 circular gifs are animated, everything else is static. I cannot click anywhere. My timezone is CET (Central European Time +1).

I've found the problem since I started writing this comment:
The problem was in my nginx config file: all other routes (except for

[2013-07-26 16:13] #16 closed, assigned to nobody

[2013-07-26 20:35] wa0x6e commented on #16
Glad to hear that you found the solution.

If you have any feedback or new features request, contact me. The project needs people that uses it to evolve.

[2013-07-29 10:14] galvani commented on #13
Hello, sorry for the delay. and please know: i appreciate your help. it gives 404 (not http response, just the text/number). I did notice some bug/fail with nginx. i do use nginx too.

[2013-07-29 10:14] galvani commented on #13
doh, i did close it :-( sorry

[2013-07-29 17:09] wa0x6e commented on #13
Seems like something wrong with Cube, I'll try to find a way to confirm that.
What's the bug with nginx ?

[2013-08-05 14:46] galvani commented on #13
hello, i did find the issue with cube. i did start cube from incorrect directory. this problem is described on cube's repo site. my fault, my bad. sorry and thanks for help

[2013-08-05 14:46] #13 closed, assigned to wa0x6e

[2013-09-09 20:48] ravindar opened #17 "No job details"
Hi I have ResqueBoard installed and all the components like Redis/Mongo/Cube are working and connecting. I can also see jobs getting processed, but when i click on a job to get more details, I don't see any information under Processed Jobs. Also no data is coming thru logs.  I am using PHP Resque and not PHP Resque Ex, just in case that is the cause? Any help is greatly appreciated.

Thanks
Ravind

[2013-09-09 21:50] wa0x6e commented on #17
Yes, it's the cause. php-resque-ex is far behind the original fork, I'm
working on a PR that will re-merge all ex feature into the original branch.
There'll be no more fix or new features in the ex branch.

On Mon, Sep 9, 2013 at 4:48 PM, ravindar notifications@github.com wrote:

[2013-09-14 03:25] #17 closed, assigned to nobody

[2013-09-26 08:31] peter-fritchley opened #20 "No Logs"
I dont have any logs showing up, and the real-time chart in the middle of the page never shows any activity, even though I can see from the status in the top right corner that the cube server is running.

I've gone to the URL of the emitter and collector in the browser, and i get the dashboard for each.

I've tried to post data into the collector using the example here: https://github.com/square/c

[2013-10-11 03:02] wa0x6e commented on #20
I'll look into it.

My guess is it happens when you're not in the same timezone as your webserver. Is that your case ?

[2013-10-18 07:30] peter-fritchley commented on #20
The Php timezone is "Europe/London", not sure what the timezone in cube is set to, nor how I can change it.

Thanks for your help.

[2013-10-18 20:23] kallealberg commented on #20
Got the same issue, trying to get the timezones sorted.

@peter-fritchley Cube does not support multiple timezones (UTC only) according to this: https://github.com/square/cube/issues/61

[2013-10-18 20:33] wa0x6e commented on #20
Is your computer/browser on the same timezone than the server ?

[2013-10-18 20:37] kallealberg commented on #20
Nope, theres a hour difference.
Servers are located in Ireland(UTC timezone) and i live in Sweden.

[2013-10-19 02:25] wa0x6e commented on #20
I'll take a look

[2013-10-19 07:54] peter-fritchley commented on #20
In my case, the server timezone matches the browser one.

Thanks.

[2013-10-23 20:48] wa0x6e commented on #20
Seems like the timezone was missing from all logs data, and all dates inside Cube are considered to be UTC.

A fix was just pushed to Monolog repo, I'm working on a little patch to migrate all dates from UTC to your timezone.

[2013-10-24 13:20] kallealberg commented on #20
Great!

[2013-10-24 14:57] kallealberg commented on #6
Any certain options that needs to be taken into consideration when running on nginx?
Having some issues running it on nginx+php-fpm (PHP 5.5).

[2013-10-24 15:31] wa0x6e commented on #6
Add these lines to your site nginx conf:

[code]

[2013-10-24 15:55] wa0x6e commented on #20
Can you confirm that when you're in the jobs view, the dates are all offset by your timezone ?

[2013-10-24 19:25] wa0x6e commented on #20
The fix was merged into Monolog, but there's no ETA for the 1.6.1 release. If you want to the fix right now, you should edit the composer dependency to use the master.

In addition, a timezonefix.php script was added in the tools folder. Run it in the shell via `php -q tools/timezonfix.php apply`. It can take time, depending on the number of jobs.

I recommend you to update the database, and run i

[2013-10-25 06:43] kallealberg commented on #20
I'll check it out!

[2013-10-26 18:57] #20 closed, assigned to wa0x6e

[2013-10-26 18:59] wa0x6e commented on #20
I'll close it for now, as it should be working if you have Monolog > 1.6.0.

[2013-10-26 22:55] #10 closed, assigned to nobody

[2013-11-01 16:48] dennisoderwald opened #21 "Cube - unable to connect"
Hi,

thanks for your nice open source software - i want install ResqueBoard, the Redis & MongoDB Server are running - proper the cube server was running..

bin/evaluator.js:

[code]

bin/collector.js:

[code]

no error. But the ResqueBoard says "Unable to connect to the cube server"

ResqueBoard/src/ResqueBoard/Config/Core.php:

[code]

Any idea? error.log from nginx is clear..

Thanks for your he

[2013-11-01 17:26] dennisoderwald commented on #21
But also i don't seen any item.. -> https://www.dropbox.com/s/fmaylucrpnazdof/Screenshot%202013-11-01%2018.25.47.png

[2013-11-01 17:40] dennisoderwald commented on #21
Okay, fixed - forget the Cube problem - Cube is running fine - the only problem is.. see the attachment before..

[2013-11-01 17:49] dennisoderwald commented on #21
Okay, i check my Chrome Network Tab - more JS Files are not found.. status-code 404.. but in the server directory is'nt available.. bug? :f

example: ResqueBoard require 'js/libs/cal-heatmap.source-map.js' - but only exists 'cal-heatmap.min.js'..

the same at 'jquery.min.map'

[2013-11-01 18:08] dennisoderwald commented on #21
Can u provide me your nginx configuration for this?

Maybe the header and expires are incorrect..

[2013-11-04 03:54] wa0x6e commented on #21
There's no secret in my nginx conf files, it's the classic conf files for the Slim framework

[code]

Sources map files are not required, and everything can works without them.

Do you have any other files on 404 ?

[2013-11-11 11:16] plandem opened #22 "Is there any chance that you will abstract from NodeJS/Mongo solution?"
Right now this board is the only reason to setup NodeJS/Mongo/Cube, so no reason to use for me right now. But in case of differ solution - i would glad to use it :)

[2013-11-12 18:11] wa0x6e commented on #22
I don't really see other solution.

Cube depends on NodeJS and Mongo to works, and ResqueBoard depends on Cube.
Cube is a really great tool for computing metrics, a lot of metrics, and in realtime.

All realtime events are handled by NodeJS, and the Mongo is a very fast and scalable database.

There's no way to move away from NodeJS, or your server will take a hit with the big number of request/mi

[2013-11-19 04:58] bolbol123 commented on #12
Hi,

Regarding same issue, we have updated both fresque and php-resque-ex to the same version (1.2.5) but so far we couldn't manage to see the real time stats on ResqueBoard main page. It's just the total number of jobs and overall stats of each queue and nothing realtime.

Need to mention:
-Our ResqueBoard is hosted on a separate server.
-We can see a traffic on udp port 1180 on both servers.

Ju

[2013-11-19 11:43] wa0x6e commented on #12
There was an issue with the monolog shipped with resqueboard. Change the
dependency version to 1.6, it should fixthe bug if your issue was with your
webserver not on the utc timezone

On Monday, November 18, 2013, bolbol123 wrote:

[2013-11-20 02:58] teewhey commented on #12
Hi kamisama, are you refering to the monolog dependency of Resqueboard or the fresque??

[2013-11-22 05:25] wa0x6e commented on #12
Of php-resque-ex. I'll update it later, I'm on the move these days

[2013-12-19 07:56] mikeslim7 opened #24 "No Logs"
Hi,

Thanks for the lovely tool, but I can seem to get the logs into mongodb using cube. I have followed the guide from the ResqueBoard main page. I have also checked and i think some on the collections that are required for logging and display of the logs are non-existent. Please see the snips of the ResqueBoard and mongodb attached.

![mongo_collections](https://f.cloud.github.com/assets/1593903

[2013-12-19 09:40] mikeslim7 commented on #24
Problem resolved. :-) I was noot loading the monolog required classes. After loading, I now have a very beautiful and fully functional ResqueBoard. :+1:
Thanks.

[2013-12-19 09:40] #24 closed, assigned to nobody

[2013-12-19 11:08] mikeslim7 opened #25 "jquery dependency for GraphPie.js"
I kept having a GraphPie related problem when i click on the Home button from another view. The problem was coming from:

_GraphPie.js_

[code]

and the error log in the console would be:
"...b.parent(...).width() is not a function..."

I think this is because the js is executed before jquery is loaded, especially if you are moving to the Home view from another view (It's not the first loading of

[2013-12-22 23:52] wa0x6e commented on #25
Jquery is a dependency in Angular.js modules, so it "should" load before. Maybe there's something missing in the dependency in Require.js

[2014-01-03 09:05] teewhey opened #26 "Missing js files"
I was looking at the apache logs and found out there are some files are not found.

"GET /ResqueBoard/src/ResqueBoard/webroot/js/libs/jquery.min.map HTTP/1.1" 404
"GET /ResqueBoard/src/ResqueBoard/webroot/js/libs/cal-heatmap.source-map.js HTTP/1.1" 404

Am I missing something???

[2014-01-03 09:07] wa0x6e commented on #26
No, these files are optionals

[2014-01-03 09:11] teewhey commented on #26
Hmmm... okay.... then I have no idea what was happening...
The ResqueBoard only displays the full page on first load.... the subsequent loads after jump to other pages doesn't seem to render anything... I have already updated to the latest....

[2014-01-07 00:28] ckmaresca commented on #26
I have the same problem.  It doesn't seem to be rendering or displaying any data from the Resque redis db.  I only saw the worker list once, and it has not rendered since.

[2014-01-07 02:09] ckmaresca commented on #26
It turns out there was something wrong with some of the .js files under Chrome (31.0.1650.63 on Mac OSX 10.8.3) while using AdBlock.  Not sure what it was as there were no obvious errors & nothing was being blocked, but disabling it fixed the issue....

[2014-01-07 02:13] ckmaresca opened #27 "Pending jobs crashes ResqueBoard"
After fixing the .js issues, I'm now getting a fatal error when trying to access /jobs/pending

The jobs dashboard shows 1 pending job, but trying to view it generates the following error:

[code]

[2014-01-07 02:43] ckmaresca commented on #17
I know this is close, any updates on when/if this merge might happen?  I'm asking as I just spent many hours setting up resque-ex to work with resqueboard and just discovered this post...

[2014-01-07 02:44] teewhey commented on #26
I've tried on both Chrome and Firefox and both unable to render... I don't have Adblock installed on Firefox

[2014-01-07 04:34] ckmaresca commented on #26
There is also a note on another issue about editing the main.js to change the load order of libraries.  I did that first, I'll see if I can find it...

Edit: It's here https://github.com/kamisama/ResqueBoard/pull/23 - I would also disable any other plugins or software that blocks trackers, etc. (such as Ghostery or Do Not Track Me).

[2014-01-07 04:38] teewhey commented on #26
That part of changes in main.js is already in the latest commit.

[2014-01-07 09:46] pwhelan commented on #17
+1

[2014-01-15 23:38] Griffinz opened #28 "Only homepage renders. Any subsequent navigation fails"
Hi,

I've installed Resque on my linux server VM, and initialising workers and enqueueing jobs by command line all seems to be working properly.

I then installed ResqueBoard and only the homepage loads. Navigating to any other part of the interface returns a 404.

![issue_01](https://f.cloud.github.com/assets/6414578/1926204/197662da-7e3e-11e3-9277-58ef7260c088.png)
![issue_02](https://f.cloud.gi

[2014-01-15 23:50] Griffinz commented on #28
Ok this was just an overlooked repo management issue. For anyone else that reads this; make sure the .htaccess in the ResqueBoard directory is present

[2014-01-16 03:35] #28 closed, assigned to nobody

[2014-01-16 15:25] themao commented on #21
Hi everyone. I'm also experiencing the "no data" issue. I was wounding around the sources for 2 hours before I've understood that the data is actually delivered from the server, but isn't displayed.

The problem is in the following: when I clear the browser cache and history, the graphs are displayed, but after refreshing the page or proceeding to another ResqueBoard page everything disappears. Th

[2014-01-16 15:38] themao commented on #21
Okay, this is nice. Found a solution after 10 minutes of posting the question.

The problem is described here https://github.com/kamisama/ResqueBoard/pull/23

And my problem was that in assets/js/main.js was the new file from the repo, but in src/ResqueBoard/webroot/js/main.js it was old (without the patch).

Fix: copy assets/js/main.js into src/ResqueBoard/webroot/js/main.js and clear the browser

[2014-01-23 02:49] teewhey commented on #26
I've tried another fork from fushanlang. It seems to work with my setup for now... You can take a look.

https://github.com/fushanlang/ResqueBoard

[2014-01-25 15:44] #27 closed, assigned to wa0x6e

[2014-02-04 13:31] RealJTG commented on #24
Ran into the same problem.

I've finally got some data in "Last activities" histogram and proper job statuses when added `VVERBOSE=1` to my workers, but there are still no logs and no data on "Latest jobs activities" heatmap.

Server status - all green, cube seems running ok, I see some data (done/fork/sleep...) on port 127.0.0.1:1081
__
Okay, logging works after updating monolog to 1.7.0.
But sti

[2014-02-19 07:56] teewhey opened #29 "No data in "Last Activities""
Hi Kamisama,

Using fushanlang's fork I was able to get a more stable run of the Resqueboard.
I noticed that I don't see any readings in "Last Activities" but there are readings on "Load Overview".

Any idea what could have gone wrong?

[2014-02-19 08:38] teewhey commented on #29
![2014-02-19_1635](https://f.cloud.github.com/assets/4113595/2204633/35bfbffe-9941-11e3-897e-62f40467daa5.png)

[2014-02-19 08:48] teewhey commented on #29
Found out there were some time difference.. My bad.

[2014-02-19 08:48] #29 closed, assigned to nobody

[2014-02-20 15:58] wa0x6e commented on #26
The forks seems to fix some bugs, but it's hard to merge, as the fixes are written in the wrong files. I'll try contacting him

[2014-03-17 16:09] wildsurfer commented on #6
This works for me

[code]

[2014-04-23 17:11] JrBarbosa opened #30 "without logs"
Hello Kamisama,

Please help me.

I have installed the resqueboard, but I can't see any log, in last activities and on the jobs overview, all the logs are blank.

This can be time zone issue, but I'm using the time zone America/Sao_Paulo in my server.
What I can do to fix it?

![image](https://cloud.githubusercontent.com/assets/4378657/2780647/2bc917de-cb0a-11e3-9a25-83c1eb286245.png)

Tks

[2014-04-25 11:39] wa0x6e commented on #30
Yes, it's possible it is a timezone issue if your computer and the server are not on the same timezone.
It's a known issue, and it's in my to-do list

[2014-04-28 16:21] maark85 opened #31 "Retry failed jobs"
Hello Kamisama.

In my resque-web i can retry jobs that are in Failed Queue.
It's possible to do the same thing on ResqueBoard? The Failed queue isn't displayed on Queues.

Thank you!

[2014-04-28 17:43] JrBarbosa commented on #30
The timezone was correct, it was a mistake to redirect the logs to the cube.

Tks!

[2014-04-28 17:43] #30 closed, assigned to nobody

[2014-04-29 08:34] wa0x6e commented on #31
It's not possible yet.

Unlike resque-web, Resqueboard is built to be also ran from another server than the one running the workers, so ResqueBoard does not always have access to resque.

It's in the to-do list though

[2014-04-29 15:31] JCMais opened #32 "Does it works with the original port?"
Does this interface works with the current version of the default port?

Or there is anything that it needs that is possible only with your fork? (php-resque-ex)

[2014-04-29 18:22] wa0x6e commented on #32
Only with the fork (for now).
But with the addition of the logger system in the latest master, it should be easily implemented on the default fork.

With all the changes in php-resque, that is the last feature to merge back before deprecating this fork.

I plan to do it someday, but help is welcome.

[2014-04-29 19:56] JCMais commented on #32
Can you make a checklist with what needs to be modified to make it work with php-resque?

I can give some help.

[2014-04-30 08:37] wa0x6e commented on #32
There's 2 things :
- [ ] Add a timer to some actions (to have metric like "job completed in x ms")
- [ ] Log the necessary datas

Currently, php-resque only log a string message. The newly implemented logger can also takes an array of data, and should be used to send those datas properly to the Monolog logger.

Read php-resqre-ex code source to get an idea of which datas are passed to the logger.

[2014-05-01 18:38] RighteousIdealizedDung opened #33 "Config advice"
I have php-resque-ex installed and processing jobs. I installed ResqueBoard to monitor those workers but I am not getting any data. From my reading of the install guide I understood that I needed to amend my worker init code to use the cube handler; leaving ResqueBoard options at the defaults they would get the data from cube. My worker init script is below. ResqueBoard is running and connected to

[2014-05-05 16:52] maark85 commented on #31
Ok. I've noticed that php-resque-ex writes in my Redis server in a different way.
When a job fail, he creates a key like that:

resque:failed:8f2cda7c57563bbee864f653fe026360

The php-resque sent the keys with failed to a default queue, and the worker automatically retried the job. It's possible to do that?

[2014-05-09 09:58] wa0x6e commented on #33
Is your data really sent to Cube safely ?

The best way to confirm if the data are really delivered to Cube safely is to check that there is some data in the `cube_developement` database.

You can either do it by browsing mongo via the cli, or install something like rockmongo.

[2014-05-09 10:05] wa0x6e commented on #31
I think it could be done, since the job's details are saved in the redis key.

But it should be implemented on php-resque-ex side, since it manipulates redis keys owned by resque, and not resqueboard.

[2014-05-12 10:04] RighteousIdealizedDung commented on #33
Thanks for the response. I am getting data to Cube. I can now see data in ResqueBoard dashboard. However, it seems unreliable. It identifies all the workers but on each refresh I get very different figures for jobs processed. I don't think I will look into this further as my Resque queues are running fine, the ResqueBoard would have been a "nice-to-have" add-on to that but it seems to be taking to

[2014-05-12 10:04] #33 closed, assigned to nobody

[2014-05-12 12:11] wa0x6e commented on #33
There is a old bug in the dashboard not properly displaying datas when the dashboard and resque are not in the same timezone.

Also, if you're refreshing the page, there is a time lag of 5 seconds between the computed datas and realtime data, because cube is built like that.

[2014-05-12 12:40] themao opened #34 "Job output and warnings"
Hello Kamisama,

I have noticed that there's no job output logging. Is it possible to pass via Monolog to Mongo? And is it a desired functionality? Because in my project we need to see the output of the script.

And I also see that warnings/notices are not handled by try/catch blocks, so I've made a small workaround that replaces them with exceptions (using events). How do you think, is that a goo

[2014-05-12 12:45] wa0x6e commented on #34
So you want to send the log to ResqueBoard, and somewhere else at the same time ?

[2014-05-12 14:19] RighteousIdealizedDung commented on #33
Thanks again for your response, and for your development. I may revisit this at some point, bearing in mind your comments, but for this project I'm out of time. There are other problems I am seeing which I didn't mention, eg, a superfluous slash in the htaccess file,
RewriteRule    (.*) src/ResqueBoard//webroot/$1 [L]

A couple of 404s noted in the console, to /ResqueBoard/src/ResqueBoard/webroot/

[2014-05-12 23:17] themao commented on #34
No, just to ResqueBoard. The stdout & stderr of the job.

[2014-05-13 08:46] wa0x6e commented on #34
I don't quite understand. You want to redirect all stdout and stderr to a file ? Because they're not sent to Cube ?

[2014-05-13 14:52] themao commented on #34
Yes, the output of the script that is echoed or printed. And not to a file, but to the Cube, to see it in the Resqueboard.

[2014-05-13 15:48] wa0x6e commented on #34
I don't quite understand what you want, can you explain more in details ?

[2014-05-14 08:36] themao commented on #34
Well, when you click on a successfully finished job here http://resque.kamisama.me/jobs/view, you can see only args that were passed. What I want is to see the output of the job - everything that the script echo'ed during the execution.

[2014-05-14 08:57] wa0x6e commented on #34
I see.

How are  you starting/managing your workers ?

[2014-05-14 09:04] themao commented on #34
From bash console.

[2014-05-14 09:12] wa0x6e commented on #34
Mhmmm ... It's a functionality that should be implemented on the php-resque side.
You can try opening a ticket over there, and propose logging the job output.

[2014-05-14 09:14] themao commented on #34
Yes, indeed. Sorry for mixing up the repos, but I also use your fork of php-resque (php-resque-ex). I will create an issue there.

[2014-05-14 09:14] #34 closed, assigned to nobody

[2014-05-14 09:15] wa0x6e commented on #34
I think you can directly ask it on php-resque repo, instead of the fork. The fork will be merged back into the original soon.

[2014-08-19 17:53] shadyb opened #37 "Capture stdout"
Hello,

I have been using resqueboard with resque-ex for awhile now. I have noticed that it is extremely difficult to debug jobs. Doing an _echo_ on a variable does not displace output in resque-board. It would be nice to  have the ability to do echos and then have a section in job (maybe under "Job Arguments") to show any output.

I know resqueboard will capture and handler exceptions (to a degre

[2014-08-19 18:36] wa0x6e commented on #37
Using an `echo` will not display anything on Resqueboard. Resqueboard is a 'listener', used in parallel of your php-resque-ex setup.

All exceptions and stdout are written directly in php-resque output.log, and can not be read by resqueboard. Resqueboard can only read output sent via Monolog, and that monolog instance is available only on the workers, not on the jobs.

Or maybe do you already have

[2014-08-19 18:38] pwhelan commented on #37
I have implemented functionality in my ResqueBoard branch to show logs for processed jobs here: https://github.com/pwhelan/ResqueBoard/tree/display-extended-logs. I have not made it a PR yet since it still lacks cosmetic touches.

[2014-08-20 15:31] wa0x6e commented on #37
Which commit exactly ? It's a little hard to find since there's a lot of merge and the commit does not seems to be among the lastest one

[2014-08-21 19:06] pwhelan commented on #37
I believe the work is in this commit:

https://github.com/pwhelan/ResqueBoard/commit/750a17e0d7ae992715604f45e10d5dc2899d0916#diff-d41d8cd98f00b204e9800998ecf8427e

[2014-08-21 20:33] wa0x6e commented on #37
I see that the log is saved in the log key. But where does it come from ?

[2014-08-21 20:37] pwhelan commented on #37
Here is the BaseWorker class I use and extend for my workers. It includes the error handling code to create the log entries.

[code]

[2014-08-21 20:43] wa0x6e commented on #37
How are you using that class ?

[2014-08-23 08:52] pwhelan commented on #37
I use it as the base class for my workers.

[2014-08-23 15:32] wa0x6e commented on #37
Workers are defined inside php-resque. How do you make it use your base class ? Are you editing file inside php-resque package ?

[2014-08-27 22:21] pwhelan commented on #37
It's the base class for my own worker (the one with the perform method), not an actual Resque_Worker class instance.

[2014-08-28 14:37] wa0x6e commented on #37
Ah, it's the Job class

[2014-08-28 23:47] pwhelan commented on #37
@kamisama exactly! excuse my confusing use of terminology there.

[2014-09-03 12:15] shadyb commented on #37
thoughts kamisama ?

@pwhelan, maybe you can merge any changes from @kamisama's master and then make a pull request ?

The current logging mechanisms leaves much to be desired.

[2014-09-04 19:38] wa0x6e commented on #37
I'll review it when I'll be less busy.

I get the part about printing the log in ResqueBoard. Maybe someone could make a PR about the changes in php-resque-ex side, to catch and log job's error in the worker class ?

[2014-10-07 11:16] shadyb opened #38 "Cache issues"
There appears to be issues with the resqueboard content loading on page refresh. I have to force refresh the page several times before the content loads. First time I've encountered a tool that caches so aggressively. Do you know exactly what is causing it ? I have set all the relevant expiry/no-cache headers to no avail.

[2014-10-08 17:28] mtotheikle opened #39 "Cube Dependency"
It seems that Cube is having very little development done with it now and since the NPM module "websocket-server" has been unpublished I can no longer install this project since Cube fails to install.

Has anyone else had this problem recently? Any plans to move away from Cube?

See https://github.com/square/cube/pull/149 for more information.

[2014-10-08 17:34] pwhelan commented on #39
I was able to install websockets-server by hand. Just git clone https://github.com/miksago/node-websocket-server repository into node_modules (in cube).

Given the current situation with cube I certainly agree with the idea of moving away from it. Any ideas on what to replace it with? Off the top of my head the only thing I could think of is statsd + ratchetphp to handle websockets.

[2014-10-14 16:38] wa0x6e commented on #39
Reason I was going with Cube was not really websocket, but the all data aggregation done behind. I'm not really familiar with statsd, but the replacement should be backward compatible, to keep all the database.

[2014-10-14 16:41] wa0x6e commented on #38
What do you mean by "before the content loads" ? Is it displaying a page with all the menus, but no components (graphs, etc ...), or just a plain blank page ?

For the former case, I think it's an issue with Angularjs, the project's stuck with a very outdated version.

[2014-10-21 14:21] shadyb commented on #38
It is displaying the menu with no components.

Okay, so you suspect angularJS; how much work would it take to update it to a newer version ? Would it simply be a case of swapping out the .js file (as is usually the case with jquery for example) ?

[2014-10-21 17:17] wa0x6e commented on #38
I'm not familiar with the newer version of AngularJS. The version used is among the first, so not very stable. Maybe the issue is with the loading order of the javascript too.

Do you have the same symptoms as in this ticket ? https://github.com/kamisama/ResqueBoard/pull/23

[2014-10-22 08:52] shadyb commented on #38
Yes, applying the fix mentioned in that ticket has resolved the load issues. Strange, have you merged that  fix into the master branch ?

[2014-10-22 12:44] pwhelan commented on #39
StatsD does not have it's own native datastore but instead uses several different backends. The best candidate for ResqueBoard is the MongoDB backend: https://github.com/dynmeth/mongo-statsd-backend.

[2014-10-22 15:11] wa0x6e commented on #38
You applied that change ? https://github.com/kamisama/ResqueBoard/pull/23/files

[2014-10-22 21:57] wa0x6e commented on #39
Do you know if statsd can also compute metrics, like number of events occurring between 2 dates ?

[2014-10-23 13:37] shadyb commented on #38
I did a clone of the repo approx. 2 months ago and that patch was applied around 11 months ago. I copied and pasted the contents of the `assets/js/main.js` file into the `src/ResqueBoard/webroot/js/main.js` file and now I no longer experience the "blank component" problem. It looks like it was applied to the wrong file. I'm not sure what the assets/js/\* folder is used for but since it is not in t

[2014-10-23 18:16] pwhelan commented on #39
I am pretty sure the mongo schema supports this. Any chance you could point me to where these queries are? I can take a quick look and figure out which backend(s) would work.

[2014-10-26 05:48] wa0x6e commented on #39
I don't master node.js enough to understand how Cube works, but from what I saw, it uses the javascript part of mongodb to run functions, and compute the metrics. And ResqueBoard does not really query mongodb directly, it uses the Cube API for most of the jobs.

There is 2 things ResqueBoard is expecting from the cube database:
- A database of events: what happens, when it happens. (so we can fetc

[2014-10-28 16:17] wa0x6e commented on #39
Seems like statsD can provide the type of granularity needed. But its mongodb structure differs from Cube, so migrating to statsd will means losing all cube's data.

[2014-11-05 17:00] paco3346 commented on #38
I can also vouch for @shadyb's fix working. I was having the same issue and adding that dependency in `src/ResqueBoard/webroot/js/main.js` solved the issue.

[2014-11-06 16:53] shadyb commented on #38
Thanks @paco3346. I will do a PR sometime soon and patch it.

[2014-11-13 21:41] pwhelan commented on #39
@kamisama

I will attempt to create a branch of ResqueBoard that uses the StatsD MongoDB schema. Getting the websocket functionality that cube has I think will be the hardest part. Long polling might be an option if we make the assumption that there will not be many clients using the interface.

Once it seems to be working I could try and provide a migration script that translates Cube's metrics t

[2014-11-13 22:04] pwhelan commented on #39
It seems like Graphite might be another option: http://graphite.readthedocs.org/en/1.0/url-api.html#graphing-metrics

[2014-11-14 00:01] wa0x6e commented on #39
Graphite seems to come with a visualization library, something unneeded in this case. statsD + another websocket framework seems a good combo. Since statsD already run on node.js, the websocket framework should preferably also run under nodejs.

[2014-11-14 00:41] pwhelan commented on #39
The advantage of Graphite is that it already handles aggregation of time series data like Cube does, but yes, it does include a lot of other components that are unnecessary.

[2014-11-14 03:25] wa0x6e commented on #39
From what I learned from statsD documentation, it also seems to do data aggregation

[2014-12-05 14:01] paco3346 commented on #37
I've developed some of my own work on this with changes to both Resque Board and php-resque-ex

At this point all stdout is captured and stored to Mongo and is available at the end of the script.
At the moment I'm working on capturing stdout as the output buffer is flushed to offer real-time updates in Resque Board via websockets.

Should only be a day or two. (We're using this in our corporate en

[2014-12-05 14:32] paco3346 commented on #26
This is probably related to #38. The heatmap file missing only breaks the heatmap. The problem @ckmaresca and @teewhey mentioned about the page only loading once is the signature symptom of #38.

[2014-12-05 14:44] paco3346 commented on #25
Maybe related to #38 as well? I couldn't cause this issue but it would make sense given that the fix is to add jQuery as a dependency for angular.

[2014-12-09 01:46] teewhey opened #41 "Question : How do I flush all entries in the MongoDB?"
Not really an issue. Just a question on is it safe to flush all entries in MongoDB using db.cube_development.remove()  ??

[2014-12-09 01:57] wa0x6e commented on #41
What do you want to achieve ? Just remove ResqueBoard ? Yes, all data in cube are just for ResqueBoard, removing them does not affect your resque instances

[2014-12-09 02:06] teewhey commented on #41
I just want to clear off the data... I don't need the older data anymore....
The Resqueboard will still be running

[2014-12-09 03:41] wa0x6e commented on #41
In that case, yes, you should drop the cube_development database

[2014-12-09 06:00] teewhey commented on #41
If I drop it, do I need to recreate it? Pardon me as I'm not so familiar with MongoDB.

[2014-12-09 06:22] wa0x6e commented on #41
No, if needed, Cube will recreate it automatically

[2014-12-09 06:26] teewhey commented on #41
Ah... okay ... thank you very much.

[2014-12-09 17:23] #41 closed, assigned to nobody

[2015-01-24 17:41] shadyb commented on #38
Thanks for fixing the issue paco3346; forgot about resqueboard for awhile.

[2015-01-24 17:41] #38 closed

[2015-01-28 21:58] rubao commented on #31
for retry jobs i'm using:
- added a Resque_Event for onFailure for the Workers

[code]
- in the callback I use ResqueScheduler to add the same job in 10min in the same queue

[code]

[2015-02-27 10:30] pwhelan commented on #39
StatsD does aggregation, it's what it does. But what it does not do is log errors or text in any form. This is basically the different data types it supports: https://github.com/etsy/statsd/blob/master/docs/metric_types.md.

The actual failure counts, success counts, memory usage, cpu usage and even the amount of time each job takes can be recorded though.

[2015-02-28 04:27] pwhelan commented on #39
I have a branch that works with Monolog's MongoDB handler instead of Cube's: https://github.com/pwhelan/ResqueBoard/tree/nocube.

MongoDB's log format (if tweaked correctly) is almost exactly the same as the Cube format except for two things:
- All the data is under 'context' instead of 'd'.
- It uses a single collection for all events where 'context.type' defines the type of event.

Statistics wi

[2015-03-17 16:24] HMAZonderland commented on #39
Bump @kamisama !

[2015-03-28 13:12] wa0x6e commented on #39
Seems interesting, I'm looking forward to it

[2015-03-29 00:02] pwhelan commented on #39
I have it working at the moment without the logs tab and without statistics. The major snags are:
- The Monolog Init library needs to patched so the MongoHandler to use a fully nested schema (otherwise it serializes it into JSON at about the third nesting level).
- Monolog 1.12+ needs to be installed, I believe 1.5 is the lowest version right now.

Next weekend I can finalize my branch, without th

[2015-04-15 20:20] Sieberkev commented on #39
How exactly did you do this? After git cloning this repository in cube/node_modules, I still get the same error on "npm install"...

_edit on 17/04/2014_

Someone suggested me to remove websocket-server from the package.json file after installing it manually, but then another error happens:

This same error remains after replacing "websocket-server": "1.4.04" with "node-websocket-server": "1.1.4"

[2015-05-27 11:09] maxcanna commented on #39
Try this:
`cd node_modules/`
`git clone https://github.com/miksago/node-websocket-server`
`mv node-websocket-server websocket-server`
`cd..`
`npm install cube`

[2015-11-05 19:01] Sieberkev commented on #39
Thank you maxcanna for your effort, but after doing your steps I get:

Still broken :(

[2015-11-06 23:14] Sieberkev commented on #39
Thanks a lot for the pointer, @maxcanna!

After battling a lot of new errors (corrupted downloads and one runtime error), I got it up and running by using the most recent version of NodeJS (instead of the one specified in an outdated installation script I was using as reference).

[2015-11-13 09:38] lucups commented on #39
@pwhelan
@maxcanna
@Sieberkev
Thanks very much!

[2016-04-11 18:12] #32 closed

[2016-05-01 06:36] pwhelan commented on #39
awesome!

[2016-05-01 07:44] pwhelan commented on #39
I'll push what I have when I can. Nothing out of the ordinary though.

[2016-07-26 15:17] Techbrunch commented on #39
@pwhelan Any update ?

[2016-07-26 15:19] Techbrunch commented on #37
@paco3346 Any update on this one ?

[2016-07-26 16:27] pwhelan commented on #39
@Techbrunch most of my work has been implemented in https://github.com/pwhelan/ResqueBoard/tree/cft. Feel free to test it out. Note that you must configure fresque or your resque workers to log to mongo and to log to mongo with full recursion (otherwise resque-ex/monolog only logs objects that have 2 levels of nesting).

[2016-07-26 16:29] pwhelan commented on #39
I also did a lot of work to use the fresque.ini configuration directly instead of the config in RB.

[2016-10-13 17:50] Konfuze opened #44 "Demo not working"
Demo at http://resque.kamisama.me/ not available:

[code]

[2016-10-14 18:58] paco3346 commented on #37
@Techbrunch Sorry, apparently I don't check my github notifications very often.

I haven't touched this code in a long time but it still works well. Check out the following repos to see what I did. (I should mention- I'm no longer with the company that's using this so I don't actually have access to where it's running)

https://github.com/ussignal/ResqueBoard/commits/master
https://github.com/ussi

[2017-11-02 20:47] msaraac opened #45 "This repo is abandoned !!"

[2019-09-04 15:31] #45 closed

[2019-09-06 02:52] wa0x6e commented on #45
Yes, the cube dependency is also dead. Unless the code is refactored to work with another database, this tool does not have a future.